/* Main content styling */

#login main {
    margin: 50px 80px;
    text-align: center;
}

#login h2 {
    color: coral;
    font-size: 36px;
}

#login form {
    padding: 30px;
    background-color: #faf4fa;
    margin: 30px 0;
    text-align: center;
    line-height: 1.5;
}

#login label {
    font-size: 30px;
}

#login input[type=text], input[type=password] {
    height: 30px;
    width: 20%;
    border-radius: 5px;
}

#login input[type=submit] {
    height: 36px;
    width: 20%;
    font-size: 22px;
    background-color: #76cfed;
    border-radius: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

#login input[type=submit]:hover {
    background-color: #7deca8;
}

#login .pass-text:hover {
    cursor: pointer;
}

#login input.password {
    margin-left: 16px;
}

#login h4 {
    font-size: 22px;
}

#login .link {
    text-decoration: none;
    color: coral;
    padding: 10px 5px;
}

#login .link:hover {
    color: white;
    background-color: #2a2d2c;
}

#login .fa-lock-open {
    width: 14px;
}

#login .fa-solid {
    height: 17px;
}