@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

/* Header styling */

.logo {
    background-color: #19211c;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 250px;
}

h1 {
    align-self: center;
    color: white;
}

nav {
    background-color: #2a2d2c;
    margin-top: -16px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

nav ul li {
    display: inline-block;
}

nav a {
    padding: 30px 20px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #5f5b5b;
}

select {
    font-size: 14px;
    cursor: pointer;
}

form {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -16px;
    background-color: #cecece;
}

form button {
    cursor: pointer;
    border: none;
    height: 22px;
    background-color: #acacac;
}

.filter-box {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* Footer styling */

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2a2d2c;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer>* {
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}



footer li {
    padding: 15px;
}

.copyright {
    align-self: center;
}

/* Main content styling */

main {
    margin: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main button {
    width: 70%;
    height: 40px;
    background-color: #76cfed;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
}

main button:hover {
    background-color: #7deca8;
}

.stones-card {
    width: 20%;
    margin: 10px;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #faf4fa;
}

.stones-card img {
    width: 70%;
    height: 60%;
}

.stones-card p {
    font-size: 20px;
}

.stars {
    color: rgb(178, 178, 76);
}